.introContainer {
  background: linear-gradient(rgba(39, 50, 54, 0.3), rgba(39, 50, 54, 0.3)),
    url("../../../assets/DJI_0168_sign.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.homeTitle {
  font-size: 3rem;
  color: #fff;
  text-align: center;
  margin-bottom: 2rem;
}

.btn {
  padding: 0.7rem 2.5rem;
  background: #1ead74;
  border: 3px solid #fff;
  border-radius: 10px;
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
  outline: none;
  cursor: pointer;
}

.memberTag {
  margin-top: 1rem;
  color: #fff;
}

.homeContainer {
  padding: 10% 15%;
}

.paragraph {
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
}

.boxContainer {
  margin: 8rem 0rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.boxContainer div {
  height: 18rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 2rem;
  border-radius: 10px;
  border: 3px solid #fff;
}

.boxItem1 {
  background: url("../../../assets/DJI_0169_sign.jpg");
  background-size: cover;
  background-position: right;
}

.boxItem2 {
  background: url("../../../assets/DJI_0170_sign.jpg");
  background-size: cover;
  background-position: center;
}

.boxItem3 {
  background: url("../../../assets/slottet-golfbana.jpg");
  background-size: cover;
  background-position: center;
}

.boxBtn {
  font-size: 1rem;
  padding: 0.4rem 2rem;
  border-radius: 5px;
  border: 3px solid #1ead74;
  background: linear-gradient(rgba(39, 50, 54, 0.5), rgba(39, 50, 54, 0.5));
  color: #fff;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .boxContainer div {
    height: 15rem;
  }

  .boxBtn {
    font-size: 0.8rem;
  }
}

@media (max-width: 900px) {
  .boxContainer {
    margin: 5rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 0rem;
  }

  .boxContainer div {
    margin-bottom: 3rem;
    height: 20rem;
  }
}

@media (max-width: 768px) {
  .homeTitle {
    font-size: 2rem;
  }

  .btn {
    padding: 0.5rem 2rem;
    font-size: 0.8rem;
  }

  .memberTag {
    font-size: 0.8rem;
  }

  .homeContainer {
    padding: 3rem 2rem;
  }

  .paragraph {
    font-size: 1rem;
  }

  .boxContainer div {
    height: 18rem;
  }

  .boxContainer {
    margin: 5rem 10rem;
  }
}

@media (max-width: 600px) {
  .homeTitle {
    font-size: 1.8rem;
  }

  .btn {
    padding: 0.4rem 1.7rem;
    font-size: 0.7rem;
  }

  .memberTag {
    display: none;
  }

  .paragraph {
    font-size: 0.8rem;
  }

  .boxContainer div {
    height: 18rem;
  }

  .boxContainer {
    margin: 5rem 0rem;
  }
}

@media (max-width: 500px) {
  .homeTitle {
    font-size: 1.5rem;
  }
}
