.sideMenuIn {
  background: #273236;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0%;
  transition: all 500ms ease-in-out;
}

.sideMenuOut {
  background: #273236;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: -100%;
  transition: all 500ms ease-in-out;
}

.closeIcon {
  font-size: 5rem;
  font-weight: 300;
  position: absolute;
  top: 3%;
  right: 2%;
  color: #fff;
  cursor: pointer;
}

.navList {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}

@media (max-width: 768px) {
  .closeIcon {
    font-size: 3.5rem;
  }
}
