.modalContainer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
}

.modalContent {
    width: 40rem;
    min-height: 30rem;
    max-height: 600px;
    background: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    background: white;
    padding: 1rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 1.5rem;
    color: black;
    text-align: center;
    margin: 1rem 0;
}

.description {
    padding-left: 2rem;
    padding-bottom: 2rem;
    font-weight: "bold";
    font-size: 1rem;
}

.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.modalImage {
    width: 100%;
    border-radius: 1rem;
}

@media (max-width: 700px) {
    .modalContent {
        max-width: 500px;
    }
}
@media (max-width: 500px) {
    .modalContent {
        max-width: 300px;
    }
    .description {
        padding: 0;
    }
}
