.memberContainer {
    padding: 7% 2.2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.image {
    background: linear-gradient(rgba(39, 50, 54, 0.3), rgba(39, 50, 54, 0.3)),
    url("../../../assets/DJI_0177_sign.jpg");
    background-size: cover;
    object-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 100%;
    margin-bottom: 3rem;
}

.title {
    font-size: 2.5rem;
    color: #fff;
    text-align: center;
}

.infoContainer{
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.paragraph {
    color: #fff;
    font-weight: 200;
    line-height: 1.6;
}

.boldText {
    font-weight: bolder;
    color: #fff;
    line-height: 1.6;
    font-size: 1rem;
}

.link {
    color: #1ead74;
    text-decoration: none;
}

.list {
    color: #1ead74;
    text-decoration: underline;
    margin: 0rem 0rem 5rem 1rem;
}

.optionContainer {
  margin: 3rem auto;
  width: 80%;
}

.optionBox {
    border: 1px solid #ffff;
    color: #ffff;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.optionBlock {
    width: 25%;
    display: flex;
    justify-content: center;
}
