.contestContainer {
    padding: 7% 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;   
}

.image {
    background: linear-gradient(rgba(39, 50, 54, 0.3), rgba(39, 50, 54, 0.3)),
    url("../../../assets/slottet-golfbana.jpg");
    background-size: cover;
    object-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 100%;
    margin-bottom: 3rem;
}

.title {
    font-size: 2.5rem;
    color: #fff;
    text-align: center;
}

.infoContainer{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.paragraph {
    color: #fff;
    font-weight: 200;
    line-height: 1.6;
    text-align: center;
}

.boldText {
    font-weight: bolder;
    color: #fff;
    line-height: 1.6;
    font-size: 1rem;
}

.contestContainer {
    margin: 3rem auto;
    width: 100%;
}

.contestTableContainer {
    margin: 5rem auto;
    width: 80%;
}

.contestBox {
    border: 3px solid #ffff;
    border-bottom: none;
    color: #ffff;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.contestBox:last-child {
    border-bottom: 3px solid #ffff;
}

.contestBlockStart {
    text-align: center;
    width: 20%;
    display: flex;
    justify-content: flex-start;
}

.contestBlockMiddleStart {
    text-align: center;
    width: 40%;
    display: flex;
    justify-content: flex-start;
}

.contestBlockMiddleEnd {
    text-align: center;
    width: 15%;
    display: flex;
    justify-content: flex-start;
}

.contestBlockEnd { 
    text-align: center;
    width: 25%;
    display: flex;
    justify-content: flex-end;
}

@media (max-width:1024px) {

    .image {
        background: linear-gradient(rgba(39, 50, 54, 0.3), rgba(39, 50, 54, 0.3)),
        url("../../../assets/slottet-golfbana.jpg");
        background-size: cover;
        object-position: center;
        height: 50vh;
    }

    .title {
        font-size: 2.5rem;
        margin-top: 2.5rem;
    }

    .infoContainer{
        width: 90%;
    }

    .paragraph {
        font-size: .8rem;
    }
    
    .boldText {
        font-size: .8rem;
    }

    .contestBox {
        height: 4rem;
        padding: 1rem 1rem;
    }

    .contestTableContainer {
        margin: 1rem auto;
        width: 90%;
    }
}


@media (max-width:500px) {

    .image {
        height: 20vh;
        background: none;
        margin-bottom: 0rem;
    }

    .title {
        font-size: 1.6rem;
    }

    .contestTableContainer {
        width: 95%;
    }

    .contestBox {
        border: 1px solid #ffff;
        border-bottom: none;
    }
    .contestBox:last-child {
        border-bottom: 1px solid #ffff;
    }

    #optionContainerBoldText {
        font-size: .6rem;
    }

    #optionContainerparagraph {
        font-size: .6rem;
    }
}