.newsContainer {
  padding: 0rem 2rem;
  padding-top: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mappedValuesContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.lastPostContainer {
  margin-bottom: 2rem;
  width: 60%;
}

.oldPostContainer {
  width: 40%;
  margin-left: 5rem;
}

.newsTitle {
  color: white;
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.newsDate {
  color: white;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.newsContent {
  color: white;
  font-size: 1.1rem;
  text-align: left;
}

.newsComponentWithMargin {
  margin-bottom: 0;
  width: 100%;
}

.oldNewsContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.imageContainerRecentNews {
  width: 100%;
  max-height: 15rem;
}

.imageContainerRecentNewsBig {
  width: 100%;
  max-height: 25rem;
}

.expandParagraph {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.mappedOldContainer {
  width: 33%;
  margin: "0 2rem";
}

@media (max-width: 1024px) {
  .newsContainer {
    padding: 0rem;
    padding-top: 12vh;
  }
}

@media (max-width: 700px) {
  .mappedValuesContainer {
    flex-direction: column;
  }
  .oldPostContainer {
    margin-left: 0;
    width: 100%;
  }
  .oldNewsContainer {
    flex-direction: column;
  }
  .mappedOldContainer {
    width: 100%;
    margin-bottom: 2rem;
  }
  .lastPostContainer {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .mappedValuesContainer {
    flex-direction: column;
  }
}
